.roll-up {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 3.7em;
	overflow: hidden;
    margin: 0.2em;
    border: 1px solid rgba( 255, 255, 255, 0.1 );
    background: rgba( 0, 0, 0, 0.1 );
    -webkit-transform: translateZ(0);
}

.roll-up:hover {
    border: 1px solid rgba( 255, 255, 255, 0.2 );
    background: rgba( 0, 0, 0, 0.2 );
}

.roll-up > .title {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
    text-align: left;
    color: #ccc;
    padding: 0 0.3em;
    font-size: 1.5em;
    line-height: 2.5em;
    text-shadow: 0 1px 0 rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.roll-up > .content {
	position: relative;
	width: 100%;
	padding: 0.5em 0.3em;
	border-top: 1px solid rgba( 255, 255, 255, 0.1 );
	color: #eee;
}